@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
  margin: 0 0;
  padding: 0 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* *, *:before, *:after {
  box-sizing: inherit;
} */

a:link, a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #2d7778;
}

a:active {
  color: #2c3531
}

