.design-form-container {
    height: 100%;
    width: 50%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: row wrap;
    justify-content: space-around;
    /* animation: enter-left 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; */
}

/* .info-form-container-exit  {
    animation: exit-right 2x cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
} */

.template {
    margin: 5%;
    width: 25vw;
    height: 25vh;
    animation: enter-left 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.card-preview-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    animation: enter-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.front-view, .back-view {
    width: 25vw;
    height: 25vh;
    margin: 5%;
    border: 1px solid black;
}


/***** Animations *****/
 @keyframes enter-left {
    0% {
        transform: translateX(-1000px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
/*
@keyframes exit-right {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(1000px);
        opacity: 0;
    }
} */
