.design-form-container {
    margin: auto;
    text-align: center;
    animation: enter-left 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* .info-form-container-exit  {
    animation: exit-right 2x cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
} */


/***** Animations *****/
@keyframes enter-left {
    0% {
        transform: translateX(-1000px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes exit-right {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(1000px);
        opacity: 0;
    }
}
