/***** INFO FORM  *****/
.info-form-container{
    text-align: center;
    animation: enter-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    padding: 25px 0 0 0;
}

.info-form {
    margin: auto;
    width: 50%;
    border: 1px solid lightgrey;
    box-shadow: 2px 2px 5px lightgrey;
    padding: 50px;
} 

.info-field {
    margin: auto;
    width: 80%;
}

.info-form h3 {
    letter-spacing: 2px;
    padding: 0 0 20px 0;
}

.next button {
    width: 80%;
    background-color: #4A8BD8;
    color: white; 
    padding: 10px;
    font-weight: bold;
    margin: 20px 0 5px 0;
    letter-spacing: 5px;
}

.info-field input {
    width: 100%;
    height: 5vh;
    text-align: left;
    padding: 0 0 0 5px;
    margin: 10px 0 0 0;
    border: 1px solid lightgrey;
    background-color: transparent;
}


.info-field input:focus {
    outline: none;
    border: 1px solid #4A8BD8;
}

/***** DESIGN FORM  *****/
.design-form-container {
    padding: 0 5% 0 5%;
    height: 80%;
    width: 80%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: row wrap;
    justify-content: space-around;
}

.template-options-container {
    padding: 0 5% 5% 5%;
    animation: enter-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.template {
    margin: 0 0 10% 0;
    width: 400px;
    height: 200px;
    /* border: 1px solid black; */
    /* animation: enter-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; */
}

.card-preview-container {
    padding: 20px 10px 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    animation: enter-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.front-preview, .back-preview {
    width: 400px;
    height: 200px;
    margin:0 0 10px 0;
    border: 1px solid lightgrey;
    box-shadow: 2px 2px 5px lightgrey;
}

.done {
    animation: enter-right 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.done button {
    width: 100%;
    background-color: #4A8BD8;
    color: white; 
    padding: 10px;
    font-weight: bold;
    margin: 20px 0 5px 0;
    letter-spacing: 5px;
}


/***** Animations *****/
 @keyframes enter-right {
    0% {
        transform: translateX(1000px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes enter-left {
    0% {
        transform: translateX(-1000px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes border-fadein {
    from {
      border-bottom: 3px solid white;
    }
    to {
      border-bottom: 3px solid #AFC851;
    }
  }




