/* Placeholder Banner */
.banner-container {
    width: 100%;
    height: 50vh;
}

/* Featured Cards */
.featured-card-container {
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: row wrap;
    justify-content: space-evenly;
}

.featured-card {
    margin: 0 1% 0 1%;
    background-color: transparent;
    width: 25vw;
    height: 25vh;
    perspective: 1000px;
}

/* Card Flipping Effect */
.card {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 2s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.featured-card:hover {
    animation: pulse_animation;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    transform-origin: 100%;
}

.featured-card:hover .card{
    transform: rotateX(180deg);
}

.card-info, .card-front {
    position: absolute; 
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    box-shadow: 5px 5px 10px grey;
}

.card-front {
    /* background-color: lightblue; */
    color: grey;
    z-index: 1;
}

.card-info {
    background-color: grey;
    color: white;
    transform: rotateX(180deg);
    z-index: 2;
}

/* Enlarging Card Animation */
@keyframes pulse_animation {
    from {
        width: 25vw;
        height: 25vh;
    }
    to{
        transform: scale(1.5)
    }
}

/* Card Styling */
/* Card One */
.one-front {
    background-image: url('../../assets/card-background1.jpg');
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: cover;
}

.one-title {
    font-size: 100%;
    transform: rotate(-90deg);
    position: absolute;
    bottom: 25%;
    left: 75%;
    color: black;
}

.one-back {
    background-image: url('../../assets/card-background1.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
}

.one-info {
    color: black;
    position: absolute;
    bottom: 8%; 
    left: 8%;
}


/* Card Two */
.two-front {
    background-image:url('../../assets/card-background2.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.two-title {
    transform: skewY(-33deg);
    margin-left: 5px;
    color:#273746;
}

.two-back {
    background-color: #F9E79F;
    /* background-color: #D0ECE7; */
}

.two-info {
    padding: 5%;    
    color: #273746;
}


.two-info .name {
    text-align: center;
    border-bottom: 3px solid #73C6B6;
    margin-bottom: 1%;
}

.two-info .address {
    border-top: 3px solid #EC7063;
    padding-top: 5%;
}

/* Card Three */
.three-front {
    background-image: url('../../assets/card-background3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.three-title {
    color: rgba(255, 255, 255, 0.8);
    padding: 1% 0 1% 2%;
}

.three-back {
    background-color: black;
}

.three-info {
    color: rgba(255, 255, 255, 0.8);
    border-left: 2px solid rgba(255, 255, 255, 0.8);
    border-bottom: 2px solid rgba(255, 255, 255, 0.8);
    padding: 5%;
    margin: 10%;
    box-shadow: -2px 2px 2px red;
}

.three-info .address, .three-info .phoneNumber, .three-info .email {
    font-size: 12px;
}


/* CARD FOUR */




/* SHARED STYLING */

.one-info .name, 
.two-info .name, 
.three-info .name {
    padding-bottom: 5%;
}

.one-info .address, .one-info .phoneNumber, .one-info .email, 
.two-info .address, .two-info .phoneNumber, .two-info .email, 
.three-info .address, .three-info .phoneNumber, .three-info .email {
    font-size: 12px;
    padding-bottom: 2%;
}





/* PREVIOUS STYLING */

/* .featured-card {
    margin: 0 1% 0 1%;   */
    /* width: 100vw;
    height: 25vh;
    border: 1px solid black; */
    /* border: 1px solid black;
    border-radius: 15px;
    padding: 2%; */
    /* align-self: center;

    padding: 3%;
    border: 1px solid black;
    width: 20vw;
    height: 20vh;
    transition: width 1s height 1s; */
    /* transform-style: preserve-3d; */
/* } */

/* .featured-card:hover {
    width: 25vw;
    height: 25vh;
    box-shadow: 20px 20px 10px grey;
    animation: pulse_animation;
    animation-duration: 5000ms; 
    transform-origin: 50% 5 0%;
} */

/* .test-card {
    transform-style: preserve-3d;
    border-radius: 5px;

} */
/* 
.test-card:after {
    top: -100%;
    left: 0px;
    width: 100%;
    height: 100%;
    position: absolute; 
    background: #3a9999;
    border-radius: 5px;
    content: 'flipped';
    transform-origin: left bottom;
    transform: rotateX(90deg);
} */

/* .test-card:hover {
    transform-origin: center bottom;
    transform: rotateX(-90deg) translateY(100%);
} */

/* @keyframes pulse_animation {
    0% {transform: scale(1);}
    30% {transform: scale(1);}
    40% {transform: scale(1.08);}
    50% {transform: scale(1);}
    60% {transform: scale(1);}
    70% {transform: scale(1.05);}
    80% {transform: scale(1);}
    100% {transform: scale(1);}
} */

/* .card-play {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-play:hover .card-inner{
 transform: rotateX(180deg);
}

.card-front, .card-back {
    position: absolute; 
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-front {
    background-color: lightblue;
    color: grey;
    z-index: 2;
}

.card-back {
    background-color: grey;
    color: white;
    transform: rotateX(180deg);
    z-index: 1;
} */