/***** PLACEHOLDER BANNER *****/
.banner-container {
    width: 100vw;
    height: 40vh;
    background-color: #273746;
    margin: auto;
    display: flex;
    flex-direction: row wrap;
}

.grok-definition {
    color: white;
    display: flex;
    flex-direction: column;
    margin: 12vh 0 0 5vh;
}

.definition-title {
    font-weight: bold;
    font-size: 24px;
}

.definition {
    font-style: italic;
    margin: 2vh 0 0 5vh;
    font-size: 20px;
}

button {
    margin: 15vh 0 0 5vh;
    background-color:#273746;
    padding: 1.5%;
    border: 2px solid white;
    border-radius: 15px;
    color: white;
    font-weight: bold;
}

button:hover {
    animation: button-color-fade 1.5s forwards;
}

/**** NAVIGATION BAR *****/
.nav-bar-container {
    width: 100vw; 
    height: 5vh;
    padding: 1% 0 2% 0;
    box-shadow: 2px 2px 2px lightgrey;
    margin-bottom: 1%;
}

.nav-bar {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row wrap;
    justify-content: space-around;
}

.nav-items {
    font-size: 90%;
    padding-bottom: 0.25%;  
}

.nav-items:hover {
    animation: border-fadein 2s forwards;
}

/***** CARD EXAMPLES / FEATURED CARDS *****/
.card-example-header {
    text-align: center;
    padding-top: 2%;
}

.featured-card-container {
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: row wrap;
    justify-content: space-evenly;
    padding: 2%  0 4% 0;
}

.featured-card {
    margin: 0 1% 0 1%;
    background-color: transparent;
    width: 25vw;
    height: 25vh;
    perspective: 1000px;
}

/***** CARD FLIP EFFECT *****/
.card {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 2s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.featured-card:hover {
    animation: pulse_animation;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    transform-origin: 100%;
}

.featured-card:hover .card{
    transform: rotateX(180deg);
}

.card-info, .card-front {
    position: absolute; 
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    box-shadow: 5px 5px 10px grey;
}

.card-front {
    z-index: 1;
}

.card-info {
    transform: rotateX(180deg);
    z-index: 2;
}


/***** CARD STYLING *****/

/* CARD ONE */
.one-front {
    background-image: url('../../assets/card-background1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.one-title {
    font-size: 100%;
    transform: rotate(-90deg);
    position: absolute;
    bottom: 25%;
    left: 75%;
    color: black;
}

.one-back {
    background-image: url('../../assets/card-background1.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
}

.one-info {
    color: black;
    position: absolute;
    bottom: 8%; 
    left: 8%;
}


/* CARD TWO */
.two-front {
    background-image:url('../../assets/card-background2.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.two-title {
    transform: skewY(-33deg);
    margin-left: 3%;
    color:#273746;
}

.two-back {
    background-color: #F9E79F;
}

.two-info {
    padding: 5%;    
    color: #273746;
}


.two-info .name {
    text-align: center;
    border-bottom: 3px solid #73C6B6;
    margin-bottom: 1%;
}

.two-info .address {
    border-top: 3px solid #EC7063;
    padding-top: 5%;
}

/* CARD THREE */
.three-front {
    background-image: url('../../assets/card-background3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.three-title {
    color: rgba(255, 255, 255, 0.8);
    padding: 1% 0 1% 2%;
}

.three-back {
    background-color: black;
}

.three-info {
    color: rgba(255, 255, 255, 0.8);
    border-left: 2px solid rgba(255, 255, 255, 0.8);
    border-bottom: 2px solid rgba(255, 255, 255, 0.8);
    padding: 5%;
    margin: 10%;
    box-shadow: -2px 2px 2px red;
}

.three-info .address, .three-info .phoneNumber, .three-info .email {
    font-size: 12px;
}


/* CARD FOUR */
.four-front {
    background-image: url('../../assets/card-background4.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

.four-back {
    background-image: url('../../assets/card-background4-2.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: right;
}

.four-info {
    margin-top: 20%;
    color: lightblue;
    text-shadow: 2px 2px 2px black;
    padding: 5%;
}

.four-title {
    color: transparent;
}


/* SHARED STYLING */

.one-info .name, 
.two-info .name, 
.three-info .name,
.four-info .name {
    padding-bottom: 5%;
}

.one-info .address, .one-info .phoneNumber, .one-info .email, 
.two-info .address, .two-info .phoneNumber, .two-info .email, 
.three-info .address, .three-info .phoneNumber, .three-info .email,
.four-info .address, .four-info .phoneNumber, .four-info .email {
    font-size: 12px;
    padding-bottom: 2%;
}


/***** ABOUT SECTION *****/
.about-info {
    text-align: left;
    margin: 2% 0 2% 0;
    width: 100vw;
    height: 50vh;
    background-color: white;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    padding: 5%;
    box-shadow: 4px 4px 10px 4px rbga(0, 0, 0, 0.4);
}


/***** PREMIUM SECTION *****/
.premium-info {
    margin: 2% 0 2% 0;
}


/***** SIGN UP SECTION *****/
.signup-info {
    text-align: center;
    margin: 2% 0 2% 0;
    width: 100vw;
    height: 50vh;
    /* background-color: lightgrey; */
}


/***** ANIMATION KEYFRAMES *****/
@keyframes border-fadein {
    from {
      border-bottom: 3px solid white;
    }
    to {
      border-bottom: 3px solid #73C6B6;
    }
  }

/* Enlarging Card Animation */
@keyframes pulse_animation {
    from {
        width: 25vw;
        height: 25vh;
    }
    to{
        transform: scale(1.5)
    }
}

@keyframes box-fadein {
    from {
        box-shadow: 0 4px 8px 0 white;
    }
    to {
        box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.4);
    }
}

@keyframes button-fadein {
    from {
        background-color: white;
        box-shadow: 0 2px 4px 0 white;
    }
    to {
        background-color: #73C6B6;
        box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.4);
    }
}

@keyframes button-color-fade {
    from {
        background-color: #273746;
        color: white;
    }
    to {
        background-color: white;
        color: #273746;
    }
}


/***** PREMIUM SECTION *****/
.premium-section-container {
    display: flex;
    flex-direction: row wrap;
    justify-content: space-evenly;
}

.plans {
    border-bottom: 3px solid #73C6B6;
}

.plans:hover {
    animation: box-fadein 1s forwards;
}

.plan-image {
    width: 25vw;
    height: 25vh;
    background-color: #73C6B6;
}

.plan-info {
    padding: 2%;
    text-align: center;
    width: 25vw;
    height: 50vh;
    color: black;
}

ul {
    padding: 2%;
}

li {
    list-style: none;
}

.plan-start {
    text-align: right;
    position: relative;
    top: 30vh;
    margin-right: 10%;
}

.get-started {
    border-radius: 5px;
    padding: 2%;
}

.get-started:before {
    content: 'Start';
    color: transparent;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 42px;
    background: rgba(255, 255, 255, 0.3);
    transition: all 2s ease;
}

.get-started:hover:before {
    width: 90%;
    color: black;
}


/* PREVIOUS STYLING */

/* .featured-card {
    margin: 0 1% 0 1%;   */
    /* width: 100vw;
    height: 25vh;
    border: 1px solid black; */
    /* border: 1px solid black;
    border-radius: 15px;
    padding: 2%; */
    /* align-self: center;

    padding: 3%;
    border: 1px solid black;
    width: 20vw;
    height: 20vh;
    transition: width 1s height 1s; */
    /* transform-style: preserve-3d; */
/* } */

/* .featured-card:hover {
    width: 25vw;
    height: 25vh;
    box-shadow: 20px 20px 10px grey;
    animation: pulse_animation;
    animation-duration: 5000ms; 
    transform-origin: 50% 5 0%;
} */

/* .test-card {
    transform-style: preserve-3d;
    border-radius: 5px;

} */
/* 
.test-card:after {
    top: -100%;
    left: 0px;
    width: 100%;
    height: 100%;
    position: absolute; 
    background: #3a9999;
    border-radius: 5px;
    content: 'flipped';
    transform-origin: left bottom;
    transform: rotateX(90deg);
} */

/* .test-card:hover {
    transform-origin: center bottom;
    transform: rotateX(-90deg) translateY(100%);
} */

/* @keyframes pulse_animation {
    0% {transform: scale(1);}
    30% {transform: scale(1);}
    40% {transform: scale(1.08);}
    50% {transform: scale(1);}
    60% {transform: scale(1);}
    70% {transform: scale(1.05);}
    80% {transform: scale(1);}
    100% {transform: scale(1);}
} */

/* .card-play {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-play:hover .card-inner{
 transform: rotateX(180deg);
}

.card-front, .card-back {
    position: absolute; 
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-front {
    background-color: lightblue;
    color: grey;
    z-index: 2;
}

.card-back {
    background-color: grey;
    color: white;
    transform: rotateX(180deg);
    z-index: 1;
} */