@media all and (min-width: 480px) {
  .signup-container {
    margin: auto;
    width: 30%;
    padding: 2%;
  }

  .confirmation-container {
    margin: auto;
    width: 30%;
    padding: 2%;
  }
}

.signup-page-container {
  padding: 5% 0 0 0;
  width: 100vw;
  height: 100vh;
  background-color: #F8F9F9;
}

.signup-header {
  margin: auto; 
  text-align: center;
}

.signup-header h3 {
  letter-spacing: 2px;
}

.signup-container {
  width: 30%;
  border: 1px solid lightgrey;
  background-color: white;  
  box-shadow: 2px 2px 5px grey;
}

.signup-form-container {
  font-weight: bold;
  font-family: "Avenir-Book"; 
  padding: 4% 2% 2% 2%;
}

.signup-form-container input {
  width: 100%;
  height: 5vh;
  padding: 0 0 0 2%;
  margin: 0 0 5% 0;
}

.signup-form-container input:focus {
  outline: none;
  border: 1px solid #4A8BD8;
}

.signup-form-container label, .signup-form-container button {
  font-size: 14px;
  letter-spacing: 1px;
}

.signup-form-container label {
  display: block;
  margin: 2% 0 2% 0;
}

.signup-form-container button {
  padding: 2%;
  font-weight: bold;
  background-color: transparent;
  margin: 5% 0 2% 0;
  width: 100%;
  background-color: #4A8BD8;
  color: white;
}

.signup-button-container {
  margin: auto;
  text-align: center;
}

/***** CONFIRMATION PAGE *****/
.confirmation-page-container {
  padding: 5% 0 0 0;
  width: 100vw;
  height: 100vh;
  background-color: #F8F9F9;
}

.confirmation-header {
  margin: auto; 
  text-align: center;
}

.confirmation-header h3 {
  letter-spacing: 2px;
}

.confirmation-container {
  width: 30%;
  border: 1px solid lightgrey;
  background-color: white;  
  box-shadow: 2px 2px 5px grey;
}

.confirmation-form-container {
  font-weight: bold;
  font-family: "Avenir-Book"; 
  padding: 4% 2% 2% 2%;
}

.confirmation-form-container input {
  width: 100%;
  height: 5vh;
  padding: 0 0 0 2%;
  margin: 0 0 5% 0;
}

.confirmation-form-container input:focus {
  outline: none;
  border: 1px solid #4A8BD8;
}

.confirmation-form-container label, .confirmation-form-container button {
  font-size: 14px;
  letter-spacing: 1px;
}

.confirmation-form-container label {
  display: block;
  margin: 2% 0 2% 0;
}

.confirmation-form-container button {
  padding: 2%;
  font-weight: bold;
  background-color: transparent;
  margin: 5% 0 2% 0;
  width: 100%;
  background-color: #4A8BD8;
  color: white;
}

.confirmation-message {
  margin: 20px 0 20px 0;
  font-size: 11px;
  text-align: center;
}


/***** ANIMATIONS *****/
@keyframes border-fadein {
  from {
    border-bottom: 3px solid white;
  }
  to {
    border-bottom: 3px solid #AFC851;
  }
}