.header-container {
  display: flex;
  width: 100%;
  font-family: 'Ubuntu', sans-serif;
  /* background-color: black;
  color: white; */
  border-bottom: 15px solid #273746;
  padding: 1% 0 0.2% 0;
}

.logo-image {
  height: 8vh;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.options {
  display: flex;
  width: 25vw;
  flex-direction: row wrap;
  justify-content: space-between;
}

.login, .signup, .logout {
  align-self: flex-end ;
  font-size: 16px;
  font-weight: normal;
  /* padding: 0 2% 0 2%; */
}

.login, .signup, .logout {
  padding: 1% 1% 2% 1%;
  border-bottom: 3px solid white;
}

.login:hover, .signup:hover, .logout:hover {
  /* background: grey;
  color: black;
box-shadow: inset 0 0 0 3px black; */ 
  animation: border-fadein 2s forwards;
  /* border: 1px solid rgba(0, 0, 0, 0.5); */
}

@keyframes border-fadein {
  from {
    border-bottom: 3px solid white;
  }
  to {
    /* border-bottom: 3px solid rgba (233, 190, 250, 1) */
    border-bottom: 3px solid #73C6B6;
  }
}