.header-container {
  display: flex;
  width: 100%;
  font-family: 'Ubuntu', sans-serif;
  padding: 15px 0 5px 0;
}

.logo-image {
  height: 6vh;
}

a {
  text-decoration: none;
  color: #273746;
}

.header {
  margin: auto;
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.options {
  display: flex;
  width: 20vw;
  flex-direction: row wrap;
  justify-content: space-evenly;
}

.login, .signup, .logout, .wallet {
  align-self: flex-end ;
  font-weight: normal;
}

.login button, .signup button, .logout button, .wallet button {
  padding: 1% 1% 2% 1%;
  font-size: 14px;
  letter-spacing: 1.5px;
  font-family: 'Ubuntu', sans-serif;
}

.login button, .logout button {
  background-color: #4A8BD8;
  color: white;
  padding: 10px 20px 10px 20px;
  border: 1px solid #4A8BD8;
}

.signup button, .wallet button {
  border: 1px solid #4A8BD8;
  background-color: white;
  color: #4A8BD8;
  padding: 10px 20px 10px 20px;
}

.login button:hover, .logout button:hover{
  animation: blue-button-color-fade 1s forwards;
}

.signup button:hover, .wallet button:hover{
  animation: white-button-color-fade 1s forwards;
}

@keyframes border-fadein {
  from {
    border-bottom: 3px solid white;
  }
  to {
    border-bottom: 3px solid #AFC851;
  }
}

@keyframes blue-button-color-fade {
  from {
      background-color: #4A8BD8;
      border: 1px solid #4A8BD8;
      color: white;
  }
  to {
      background-color: white;
      border: 1px solid #4A8BD8;
      color: #4A8BD8;
  }
}

@keyframes white-button-color-fade {
  from {
      background-color:white;
      border: 1px solid #4A8BD8;
      color: #4A8BD8;
  }
  to {
      background-color: #4A8BD8;
      border: 1px solid #4A8BD8;
      color: white;
  }
}