.footer {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #4A8BD8;
  color: #ECF7FE;
  font-family: 'Ubuntu', sans-serif;
  width: 100vw;
  height: 15wh;
  padding: 1%;
}

.footer-title, .contact {
  text-transform: uppercase;
}

.created-by {
  text-transform: uppercase;
  font-size: 12px;
}

.grok-logo-white {
  width: 2vw;
  height: 3vh;
}