html {
    scroll-behavior: smooth;
}

/**** NAVIGATION BAR *****/
.nav-bar-container {
    width: 40%; 
    height: 5vh;
    padding: 1% 0 2% 0;
    margin-bottom: 1%;
    position: relative;
    top: -6vh;
    left: 25vw;
}

.nav-bar {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row wrap;
    justify-content: space-around;
}

.nav-items {
    font-size: 90%;
    padding-bottom: 2px;  
    letter-spacing: 1.5px;
}

.nav-items:hover {
    animation: border-fadein 2s forwards;
}

/***** BANNER *****/
.banner-container {
    width: 100vw;
    height: 85vh;
    background-color: white;
    background-image: url('../../assets/new-years-banner-transparent.png');
    background-repeat: no-repeat;
    background-size: 100vw 80vh;
    background-position: right top;
    margin: auto;
    display: flex;
    flex-direction: row wrap;
    font-family: 'Ubuntu', sans-serif;
}

.grok-definition {
    display: flex;
    flex-direction: column;
    margin: 5vh 0 0 0;
}

.grok-title {
    color: #4A8BD8;
    font-weight: bold;
    font-size: 16px;
}

.definition-title {
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 15px 0 35px 0;
}

.definition {
    font-style: italic;
    margin: 2vh 0 0 0;
    font-size: 18px;
}

.words {
    letter-spacing: 1px;
    padding: 3px;
}

.get-started button {
    position: relative;
    top: 44vh;
    left: 10vw;
    background-color:#4A8BD8;
    padding: 15px;
    border: 2px solid white;
    font-size: 14px;
    color: white;
    font-weight: normal;
    letter-spacing: 1.5px;
    font-family: 'Ubuntu', sans-serif;
}

.get-started button:hover {
    animation: blue-button-color-fade 1s forwards;
}

@keyframes enter-right {
    0% {
        transform: translateX(1000px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes enter-left {
    0% {
        transform: translateX(-1000px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/***** DESIGN YOUR CARD SECTION *****/
.design-info-container {
    width: 100vw;
    height: 100vh;
    margin: auto;
    background-color: #4A8BD8;
}

.design{
    width: 80vw;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.card-examples {
    width: 50vw;
}

.template-image {
    width: 50vw;
    height: auto;
}

.card-explanation {
    padding: 0 0 0 30px;
    /* width: 100vw; */
    vertical-align: middle;
    margin: auto;
    text-align: center;
    color: white;   
}

h3.home-design-header  {
    font-size: 28px;
    margin: 50px 0 50px 0;
    letter-spacing: 2px;
}

p.design-text {
    font-size: 16px;   
    letter-spacing: 2px; 
    padding: 10px;
    font-style: italic;
}

.design-text-container {
    width:100%;
    text-align: justify;
    margin: auto;
}

/***** ABOUT SECTION *****/
.about-info {
    text-align: left;
    margin: 2% 0 2% 0;
    width: 100vw;
    height: 100vh;
    background-image: url('../../assets/blue-line.png');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-color: white;
    padding: 5%;
    box-shadow: 4px 4px 10px 4px rbga(0, 0, 0, 0.4);
}

.about-header  h3{
    letter-spacing: 1px;
    font-size: 30px;
    position: relative;
    top: 170px;
    left: 50px;
}

.about-get-started button{
    position: relative;
    top: 14vh;
    left: 70vw;
    background-color:#4A8BD8;
    padding: 15px;
    border: 2px solid white;
    font-size: 14px;
    color: white;
    font-weight: normal;
    letter-spacing: 1.5px;
    font-family: 'Ubuntu', sans-serif;
}

/***** CONTACT SECTION *****/
.contact-info-container {
    width: 100vw;
    height: 40vh;
    background-color: #4A8BD8;
    display: flex;
    flex-direction: column;
}

.about-grok-container {
    width: 50vw;
    color: #1D4697;
}

.about-grok {
    font-size: 15px;
    padding: 10px;
    text-align: justify;
    letter-spacing: 2px;
}

.contact-info {
    color: #1D4697;
}

.history-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
}

.back-to-top a {
    font-size: 14px;
    position: relative;
    left: 40%;
    top: 4vh;
    color: #1D4697;
}

.grok-app {
    width: 40vw;
    position: relative;
    left: 23vw;
    top: 27vh;
}

.the-grok-app {
    padding: 10px;
    letter-spacing: 2px;
}

/***** ANIMATION KEYFRAMES *****/
@keyframes border-fadein {
    from {
      border-bottom: 3px solid white;
    }
    to {
      border-bottom: 3px solid #AFC851;
    }
  }

/* Enlarging Card Animation */
@keyframes pulse_animation {
    from {
        width: 25vw;
        height: 25vh;
    }
    to{
        transform: scale(1.5)
    }
}

@keyframes box-fadein {
    from {
        box-shadow: 0 4px 8px 0 white;
    }
    to {
        box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.4);
    }
}

@keyframes button-fadein {
    from {
        background-color: white;
        box-shadow: 0 2px 4px 0 white;
    }
    to {
        background-color: #AFC851;
        box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.4);
    }
}

@keyframes blue-button-color-fade {
    from {
        background-color: #4A8BD8;
        border: 1px solid #4A8BD8;
        color: white;
    }
    to {
        background-color: white;
        border: 1px solid #4A8BD8;
        color: #4A8BD8;
    }
}

@keyframes white-button-color-fade {
    from {
        background-color:white;
        border: 1px solid #4A8BD8;
        color: #4A8BD8;
    }
    to {
        background-color: #4A8BD8;
        border: 1px solid #4A8BD8;
        color: white;
    }
}

